# secrets
certFiles
credentials*
static_providers*.json

# caches
__pycache__
.vscode
.vs
.ipynb_checkpoints

# dependencies
node_modules

# production
dist
build
*.egg-info

# building pip package
package/README.md
package/setup.cfg
package/LICENSE
package/pyproject.toml

# scratch
*.fasta
*.fastq
elab_cache.npy
db/
dbScratch/
scratch/