certFiles
__pycache__
.vscode
.vs
credentials
.ipynb_checkpoints
*/dist
*/build
*.egg-info
package/README.md
package/setup.cfg
package/LICENSE
package/pyproject.toml
*.fasta
*.fastq
*.npy
db/
dbScratch/
scratch/
static_providers*.json
test_data/